
.grid {
    // height: 400px;
     margin-left: 0px;
 }
 .main {
    
     display: -webkit-flex; /* Safari */
     display: flex;
    // padding: 20px 20px 20px;
     // -moz-box-sizing: border-box;
     // -webkit-box-sizing: border-box;
     /* box-sizing: border-box; */
     height: 100%;
 }
 
 // section {
 //     display: block;
 // }
 .right-side {
     float: right;
    // margin-left: 450px;
     width: 30%;
 }
 .left-side {
     width: 70%;
     float: left;
    // color: #848484;
     font-size: 16px;
     font-weight: normal;
 }
 
 .left-side, .right-side {
     height: 100%;
     background-color: transparent;
    // border: 1px solid #cfcfcf;
     border-radius: 1px;
    // box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
     padding: 10px;
     box-sizing: border-box;
 }
 
 
 ::ng-deep .instrumentDetail {
     height: 200px;
     // float: left;
     // padding: 20px 20px 20px 0;
 }
 ::ng-deep .employeeInfo .employeePhoto{
     height: 300px;
     float: left;
     padding: 20px 20px 20px 0;
 }

 ::ng-deep .options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: rgba(191, 191, 191, 0.15);
}