<h2 class="content-block"><b>Marché Primaire</b></h2>

<dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="6"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column
        dataField="Task_ID"
        caption=""
        [width]="40"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Subject"
        [width]="190"
        caption="Date document"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Status"
        caption="N°"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Priority"
        caption="Compte"
        [hidingPriority]="0">
        <dxo-lookup
            [dataSource]="priority"
            valueExpr="value"
            displayExpr="name">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
        dataField="ResponsibleEmployee.Employee_Full_Name"
        caption="Libellé"
        [allowSorting]="false"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Start_Date"
        caption="Quantité"
        dataType="date"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Due_Date"
        caption="Prix net"
        dataType="date"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Completion"
        caption="Statut"
        [hidingPriority]="0">
    </dxi-column>
    <dxi-column
        dataField="Task_Completion"
        caption=""
        [hidingPriority]="0">
    </dxi-column>
</dx-data-grid>
